name: e2e

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  e2e:
    name: e2e
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - name: Run e2e tests in docker compose runner
        run: |
          docker compose -f e2e/docker-compose.yml up -d docker-sshd-e2e-target
          trap "docker compose -f e2e/docker-compose.yml down || true" EXIT
          docker compose -f e2e/docker-compose.yml run --rm e2e-runner
