name: tests

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  ut:
    name: ut
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: '1.26.x'
          cache: true

      - name: Run unit tests
        run: go test ./...
